.update-password-page {
  display: flex;
  height: 100vh;
  background-color: var(--bright-navy-blue);
}

.update-password-component {
  margin: auto;
  position: relative;
  width: 30rem;
  height: 15rem;
  background: white;
  box-sizing: border-box;
  border-radius: 11px;
  padding: 0;
}

.update-password-component .update-password-component-header {
  height: 30px;
  width: 100%;
  border-bottom: 0.5px solid black;
  text-align: center;
  font-size: 13px;
  font-family: "Cabin";
  color: var(--green-blue);
  -webkit-font-smoothing: antialiased;
  padding: 0;
}
